{% extends 'Blog/base.html' %} {% block content %}

<div class="card mt-3">
    <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <div class="blockquote-footer">
            {{post.publish}} by {{post.author}}
        </div>
        <p class="card-text">
            <h4>{{post.body|linebreaks}}</h4>
        </p>
        <a href="{% url 'Blog:post_share' post.id %}" class="btn btn-primary">share this post</a>
    </div>


    <div class="card-header">
        {% with comments.count as total_comments%} {{total_comments}} comment {{total_comments |pluralize}} {% endwith %}
    </div>
    {% for comm in comments %}
    <div class="card-body">


        <span class="card-title">
            {{forloop.counter}}. {{comm.name}}
            <p> {{comm.body}} </p>
        </span>
        <cite class='text-muted'>{{comm.created}}</cite>
    </div>


    <br> {% empty %} Be first commenter {% endfor %}
    <br>
    <div class="card-body mb-3">
        <h5>Add your Comment Here </h5>
        <div class="form-group">
            <form action="" method="post">
                {% csrf_token %} {{ commentForm.as_p }}
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}