{% extends 'Blog/base.html' %} {% block content %}
<h1>{{post.title}}</h1>
<p>{{post.publish}} by <i>{{post.author}}</i> </p>
<h3>{{post.body|linebreaks}}</h3>
<p>
    <a href="{% url 'Blog:post_share' post.id %}">share this post</a>
</p>
{% with comments.count as total_comments%}
<h2>{{total_comments}} comment {{total_comments |pluralize}}</h2>
{% endwith %} {% for comm in comments %}

<h3>
    {{forloop.counter}}. {{comm.name}}</h3>
<p>{{comm.created}}</p>
<p>{{comm.body}}</p>
<br> {% empty %}
<p>Be first commeter </p> {% endfor %}
<br>
<h1>Comment Here </h1>
<form action="" method="post">
    {% csrf_token %} {{ commentForm.as_p }}
    <button type="submit">Comment</button>
</form>

{% endblock %}